.pub_300x250 { width: 1px; height: 1px; }
.pub_300x250m { width: 1px; height: 1px; }
.pub_728x90 { width: 1px; height: 1px; }
.ad-unit { width: 1px; height: 1px; }
.ad-zone { width: 1px; height: 1px; }
.adsbygoogle { width: 1px; height: 1px; }
